*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c7c7c7;
  margin-bottom: 31.25rem;
  font-family: Poppins, sans-serif;
}

.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  padding-top: 5rem;
  padding-bottom: 1.875rem;
  gap: 1.875rem;
  background-color: #c7c7c7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: white;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  width: 50rem;
  height: 40rem;

  border-radius: 15px;

  box-shadow: 1px 1px 20px gray;
}

.your-results {
  border-radius: 15px;
  background-color: rgb(66, 66, 236);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.result-title p {
  color: rgb(252, 248, 248);
  font-size: 25px;
}

.result-score {
  width: 250px;
  height: 250px;

  margin-top: 20px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;

  background: linear-gradient(rgb(12, 12, 85), rgb(59, 59, 238));
}

.result-score p {
  padding-top: 35px;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.result-score p .smaller-score {
  color: gray;
  font-size: 20px;
}

.result-summary {
  color: white;
  font-size: 30px;
}

.result-info p {
  text-align: center;
  color: rgb(187, 184, 184);

  font-size: 18px;
}

.summary-container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.summary {
  display: flex;
  align-items: flex-end;

  font-weight: bold;
  font-size: 30px;
}

.summary p {
  padding-left: 20px;
}

.element {
  display: flex;
  justify-content: center;

  height: 60px;
  width: 300px;

  border-radius: 15px;

  margin-left: 50px;
  margin-top: 20px;
}

.reaction p .reaction-score,
.memory p .memory-score,
.verbal p .verbal-score,
.visual p .visual-score {
  color: black;
}


.reaction {
  background: linear-gradient(rgb(153, 221, 153), rgb(13, 130, 165));
}
.reaction p {
  color: rgb(247, 243, 243);
  font-weight: bold;
  font-size: 20px;
}

.memory {
 background: linear-gradient(rgb(212, 193, 128), rgb(231, 44, 60));
}
.memory p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
}

.verbal {
 background: linear-gradient(rgb(218, 243, 77), rgb(145, 55, 19));
}
.verbal p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
}

.visual {
  background: linear-gradient(rgb(53, 53, 231),  rgb(199, 107, 107));
}
.visual p {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
}

.button {
  width: 250px;
  background: linear-gradient(rgb(12, 12, 85), rgb(59, 59, 238));
  color: white;
  border-radius: 15px;

  font-size: 20px;
}

.fa-regular {
  margin-right: 10px;
}
.score {
  margin-left: 10px;
}
